#artist-circles
    .artistNode 
        text, tspan
            fill #fff
            stroke #000
            paint-order stroke
            font-size .6rem
            stroke-width 2px
            stroke-linejoin round
            font-weight bold
            text-anchor middle
