svg.beeswarm
    .baseline
      text
        font-family $atlas
        pointer-events none
        font-weight 500
        letter-spacing: 0.02rem
        text-transform capitalize
    .bubble-container
        font-size .7rem
        text, tspan
            fill #fff
            paint-order stroke
            stroke-width 3px
            stroke-linejoin round
            font-weight bold
            text-anchor middle
            font-weight 500
            letter-spacing .1em
            pointer-events none
        circle
            // TODO: could also try a shadow or something?
            cursor pointer
    .axis
        text-anchor middle
        .label
          font-family $atlas
          font-size .75rem
          font-weight 500
          text-transform uppercase
          fill #232323

#discog-widget button
    padding 0.3rem 0.5rem
    margin-top  4px
    +mobile()
        margin-top 1rem
    position absolute
#discog-widget button, #discog-examples button
    margin 0
    text-transform capitalize
    font-weight: 500;
    color: 000
    font-size 0.8rem
    border 1px solid #adadad
    border-radius 3px
    background #fff
    font-family $atlas
