/* TODO: would like to make the paragraphs float right rather than left, but
have no idea how to accomplish this. */
#compression-mini
    width 100%
    max-width 70rem
    margin-top 5rem
    // Chosen to match height of SVG. Fragile.
    padding-bottom 500px
    .reduction
      pointer-events none
      font-family $atlas
      font-weight 500
    .size-original
      pointer-events none
      font-family $atlas
      font-size .85rem
    .size-compressed
      pointer-events none
      font-family $atlas
      font-size .85rem
    .odometer
        border-top 1px dashed #d4d4d4
    .slide-wrapper
        // TODO: use vh units?
        padding-top 0rem
        padding-bottom 10rem
        .slide
            padding 1.5rem
    .slide-wrapper.first
        padding-top 5em
    .slide-wrapper.progressive
        padding-bottom 15em
    +mobile()
        .slide-wrapper
            padding-bottom 16rem
        .slide-wrapper.first
            padding-top 30rem
        /*
        .slide
            // I've tried fading/hiding non-active slides, but it just ends up
            // being jarring if they suddenly disappear, or messy if a translucent
            // version is sitting on top of the graphic. Ideal sol'n would be to 
            // tween opacity to 0 as they slide up and out.
            opacity 1
        .slide.active
            opacity 1
        */


.graphic-vis
  h2
    margin-top 1.5rem
    margin-bottom 1.3rem
    font-size 1.8rem
    font-weight 100
    max-width 100%
    font-family $canela
  svg
    border 1px dashed #8c8c8c
    box-shadow 7px -6px 0 1px #f5f5f5

.ditto
  cursor pointer

.ditto:hover
  fill black
.odometer
  line
    stroke-width 1px
    shape-rendering crispEdges
    stroke #8c8c8c
