/* TODO: would like to make the paragraphs float right rather than left, but
have no idea how to accomplish this. */
#compression-mini
    width 100%
    margin-top 5rem
    // Chosen to match height of SVG. Fragile.
    padding-bottom 500px
    .size-original
      font-family $atlas
      font-size .85rem
    .size-compressed
      font-family $atlas
      font-size .85rem
    .odometer
        border-top 1px dashed #d4d4d4
    .graphic-vis
        width 60%
        margin-left 40%
    .graphic-prose
        width 38%
    .slide-wrapper
        // TODO: use vh units?
        padding-top 0em
        padding-bottom 10em
        .slide
            padding 1.5rem
    .slide-wrapper.first
        padding-top 5em
    .slide-wrapper.progressive
        padding-bottom 15em


.graphic-vis
  h2
    margin-top 1.5rem
    margin-bottom 1.3rem
    font-size 1rem
    font-weight 600
  svg
    border 1px dashed #d4d4d4
    box-shadow 7px -6px 0 1px #f5f5f5
