#compression
    position relative
    margin-bottom 4rem
    margin-top 1rem
    .prose
        float right
        width 24 rem
    select
      font-family $atlas
      font-size .8rem
      height 1.5rem
      font-weight 500


.reduction-end
  text
    font-family $atlas
    font-size .8rem
    font-weight 400



.reduction
  font-family $atlas
  font-size .9rem
  font-weight: 700;


.arrow
  opacity .7
