/* TODO: would like to make the paragraphs float right rather than left, but
have no idea how to accomplish this. */
#compression-mini
    width 100%
    margin-top 5rem
    // Chosen to match height of SVG. Fragile.
    padding-bottom 500px
    .odometer
        border-top 1px dashed #d4d4d4
    .graphic-vis
        width 60%
        margin-left 40%
    .graphic-prose
        width 38%
    .slide-wrapper
        // TODO: use vh units?
        padding-top 0em
        padding-bottom 10em
        .slide
            padding 1.5rem
            p
              background #f3f3f3
              border-left 4px solid rgba(255, 2, 2, 0.63)
              font-family $atlas
              font-size .9rem
              line-height 1.5
              padding: 1rem 1.5rem
              small
                  font-size .7rem
    .slide-wrapper.first
        padding-top 5em
    .slide-wrapper.progressive
        padding-bottom 15em


.graphic-vis
  svg
    border 1px dashed #d4d4d4
    box-shadow 7px -6px 0 1px #f5f5f5
