#histogram, #histogram-full
    .subtitle
        font-size 14px
        font-family $atlas
        font-weight 400
    .title
        font-size 24px
        font-family $atlas
        -webkit-font-smoothing antialiased
