#histogram, #histogram-full
    .subtitle
        font-size 14px
        font-family $atlas
        font-weight 400
    .title
        font-size 1.8rem
        font-family $canela
#histogram
    margin-top 5rem
    margin-bottom 1rem
#histogram-full
    margin-top 4rem
    margin-bottom 4rem
