// (needs to be kept in parallel with corresponding vars in overtime.js)
$allsongs-color = steelblue
$hits-color = orange

#overtime-graphic
    svg
        border none
        box-shadow none
        .title
            alignment-baseline hanging
        .legend
            smallcaps()
        .grid
            stroke-width .5
        .grid-minor
            stroke #ddd
        .grid-major
            stroke #222
    .spacer
        height 300px
    .scrolly-slide
        border-left 4px solid $allsongs-color
    .scrolly-slide.hits
        border-left 4px solid $hits-color
