#overtime-graphic
	position relative
	svg
		border none
		box-shadow none
	.spacer
		height 300px
	.graphic-prose
		width 24rem
	.scrolly-slide
		background-color rgba(255,240,220,1)
		opacity .5
	.scrolly-slide.active
		opacity 1
	.graphic-vis
		position absolute
		top 0
		margin-left 30rem
		transform translate3d(0, 0, 0)
		height 100vh
	.graphic-vis.is-fixed
		position fixed
	.graphic-vis.is-bottom
		top auto
		bottom 0
	.graphic
		width 100%
		position relative
