// (needs to be kept in parallel with corresponding vars in overtime.js)
$allsongs-color = steelblue
$hits-color = orange

#overtime-graphic
    //max-width 70rem
    margin-bottom 8rem
    .title
      fill rgba(0,0,0,.8)
      margin-top 1.5rem
      margin-bottom 1.3rem
      font-size 1.8rem
      font-weight 100
      max-width 100%
      font-family $canela
    svg
        border none
        box-shadow none
        .title
            alignment-baseline hanging
        .legend
            smallcaps()
        .grid
            stroke-width 1
            line
              shape-rendering crispEdges
        .grid-minor
            stroke #ddd
            line
              shape-rendering crispEdges
        .grid-major
            stroke #aaa
            line
              shape-rendering crispEdges
        .trendline
            stroke-width 2
        .legendCells
          text
            font-family $atlas
            font-size .7rem
            letter-spacing 0px
            font-weight 400
            fill #b1b1b1
    .spacer
        height 300px
    .scrolly-slide
        border-left 4px solid $allsongs-color
        p
          margin 1rem 0rem
    .scrolly-slide.hits
        border-left 4px solid $hits-color
    .xaxis
      .domain
        display none
      .tick
        line
          stroke #888
    .yaxis
      .domain
        display none
      .tick
        line
          stroke #888
