.scrolly-columns
    position relative
    .graphic-prose
        width 34%
    // TODO: just use consistent class names
    .scrolly-slide, .slide
        opacity .5
        background #f3f3f3
        border-left 4px solid rgba(255, 2, 2, 0.63)
        padding: 1rem 1.5rem
        p, blockquote
            font-family $atlas
            font-size .9rem
            line-height 1.5
            small
                font-size .76rem
    .scrolly-slide.active, .slide.active
        opacity 1
    .graphic-vis
        width 60%
        margin-left 40%
    .graphic-prose
        width 38%
    .graphic-vis
        position absolute
        top 0
        margin-left 30rem
        transform translate3d(0, 0, 0)
        height 100vh
    .graphic-vis.is-fixed
        position fixed
    .graphic-vis.is-bottom
        top auto
        bottom 0
    .graphic
        width 100%
        position relative
