.scrolly-columns
    position relative
    width 100%
    .graphic-vis
        width 60%
        position absolute
        top 0
        margin-left 40%
        transform translate3d(0, 0, 0)
        // TODO: apparently a bad idea on mobile?
        height 100vh
    .graphic-prose
        width 35%
        margin-left 2.5%
        //max-width 30rem
    // TODO: just use consistent class names
    .scrolly-slide, .slide
        opacity .5
        background #f3f3f3
        border-left 4px solid rgba(255, 2, 2, 0.63)
        padding: 1rem 1.5rem
        p, blockquote
            font-family $atlas
            font-size .9rem
            line-height 1.5
            small
                font-size .76rem
    .scrolly-slide.active, .slide.active
        opacity 1
    .scrolly-slide.hidden, .slide.hidden
        opacity 0
    +mobile()
        .graphic-vis
            width 100%
            margin 0
        .graphic-prose
            width 75%
            margin 0 auto
            position relative
            z-index 100
        .scrolly-slide, .slide
            // I think the really sick thing to do would
            // be to tween opacity to 0 as the scene falls off the horizon
            opacity 1

    .graphic-vis.is-fixed
        position fixed
    .graphic-vis.is-bottom
        top auto
        bottom 0
