fontify($ptSerif, $ptSerif-hash, $serif)
fontify($roboto, $roboto-hash, $sans)
fontify($atlas, $publico, $canela)

html, body
    background-color #fff
    color $off-black
    font-size 17px

p
    line-height 1.6
    margin-bottom 10px
    font-family $publico
    a
        text-decoration underline
        color inherit
    a:hover
        color red

.row
    blockquote
        p
            font-family $atlas
            font-size .85rem

.prose
    max-width 40rem
    margin 0 auto
    margin-bottom 1.3em
    font-size 1rem
    line-height 1.7
    font-weight 400
    color black
.prose-big
    font-size 1.2rem
    line-height 1.9
    font-weight 100
    margin-bottom 1rem
.prose small
    font-size .8rem
    line-height .6
h1
    font-size 32px
    margin-bottom 30px
h2
    font-size 1.6rem
    font-family $atlas
    font-weight 100
    max-width 40rem
    margin 0 auto
    margin-bottom 1.3rem
    margin-top 4rem
    color    rgba(0,0,0,.90)

.prose-pull-quote
    margin-top 3rem
    margin-bottom    2rem

.flex-box
    -webkit-display flex
    display flex
    -webkit-justify-content space-around
    justify-content space-around

footer
    // XXX: hiding this for now because CSS is hard
    display: none
small
    font-size 1rem
button
    padding: 6px
    margin 6px
    border-radius 5px
#discog-widget .select2
    max-width 13em
.spacer
    height 300px
#girls
    float right
    width 40%
    display none
#histogram
    margin-top 5rem
    margin-bottom 2rem
.tick
    text
        font-family $atlas
        font-weight 500
        font-size .65rem
.vline
    text
        font-family $atlas
        font-weight 500
        letter-spacing -.02rem
#histogram-full
    margin-top 4rem
    margin-bottom 4rem
.xaxis-label
    font-family $atlas
    font-size .8rem
    font-weight 600
.artists-bubble-text
    font-family $atlas
    font-size .6rem
    font-weight 600
.songlabel
    font-family $atlas
    font-size .6rem
    font-weight 600
