fontify($ptSerif, $ptSerif-hash, $serif)
fontify($roboto, $roboto-hash, $sans)

html, body
	background-color #fff
	color $off-black
	font-size 17px

p 
	line-height 1.7

h1
	font-size 32px
	margin-bottom 30px
h2
	font-size 24px
	margin-bottom 20px
div
	margin-left 10px
.spacer
	height 300px
.graphic-prose
	width 24rem
.scrolly-slide
	background-color rgba(255,240,220,1)
#scrollysticky
	background-color rgba(255,255,220,1)
.graphic-vis
	position absolute
	top 0
	margin-left 30rem
	transform translate3d(0, 0, 0)
	height 100vh
.graphic-vis.is-fixed
	position fixed
.graphic-vis.is-bottom
	top auto
	bottom 0
.graphic
	width 100%
	position relative
footer
	// XXX: hiding this for now because CSS is hard
	display: none
small
	font-size 70%
button
	padding: 6px
	margin 6px
	border-radius 5px
	
