fontify($ptSerif, $ptSerif-hash, $serif)
fontify($roboto, $roboto-hash, $sans)
fontify($atlas, $publico, $canela)

html, body
    background-color #fff
    color $off-black
    margin 0
    padding 0

html
    overflow auto
body
    width 100%
    overflow hidden

p
    line-height 1.6
    font-family $publico
    margin 0
p, .prose
    a
        text-decoration underline
        color inherit
    a:hover
        color red
.prose
  margin 1rem 0rem
  li
    margin-bottom 1rem
.row
    blockquote
        p
            font-family $atlas
            font-size .85rem

.prose
    max-width 40rem
    margin 0 auto
    margin-bottom 1.3em
    font-size 1rem
    line-height 1.7
    font-weight 400
    color black
.prose-big
    font-size 1.2rem
    line-height 1.9
    font-weight 100
    margin-bottom 1rem
.prose small
    font-size .8rem
    line-height 1
h1
    font-size 32px
    margin-bottom 30px
h2
    font-size 1.3rem
    font-family $atlas
    font-weight 500
    max-width 40rem
    margin 0 auto
    margin-bottom 1.4rem
    margin-top 4rem
    color    rgba(0,0,0,.90)

.graphic
    margin 0 auto
    width 80%
    +mobile()
        width 100%
#artist-circles
  margin-top 4rem
.graphic.graphic-fullwidth
    width 100%

.prose-pull-quote
    margin 0 auto
    margin-top 3rem
    margin-bottom 2rem
    max-width 50rem

.col-xs-5
  width 50%

.flex-box
    -webkit-display flex
    display flex
    -webkit-justify-content space-around
    justify-content space-around

footer
    // XXX: hiding this for now because CSS is hard
    display: none
footer p
    font-family $atlas
small
    font-size 1rem
button
    padding: 6px
    margin 6px
    border-radius 5px

#discog-widget
  margin-top 5rem
  margin-bottom 1rem
  h1
    font-family $canela
    font-weight 100
    font-size 1.8rem
    text-transform capitalize
    .select2
      max-width 13em
      margin-left 2rem
      margin-right .6rem
      font-family $atlas
      font-size .8rem
      color black
      font-weight 600
      .select2-selection--single
        margin-bottom 6px
        color black
        .select2-selection__rendered
          color black
.spacer
    height 300px
#girls
    float right
    width 40%
    display none
.tick
    text
        font-family $atlas
        font-weight 500
        font-size .65rem
.vline
    text
        font-family $atlas
        pointer-events none
        font-weight 500
        letter-spacing -.02rem
.xaxis-label
    font-family $atlas
    font-size .75rem
    font-weight 500
    text-transform uppercase
    fill #777
.artists-bubble-text
    font-family $atlas
    font-size .6rem
    font-weight 600
.songlabel
    font-family $atlas
    font-size .6rem
    font-weight 600

// Reused in topsongs and artists charts
.decade-controls
    display flex
    margin 0 auto
    font-family $atlas
    justify-content center
    margin-top 1rem
    margin-bottom 1rem
    a.decade
        padding .2rem .5rem
        font-size .8rem
        cursor pointer
        text-align center
        border 1px solid rgba(127, 125, 156, 0.54)
        margin-left -1px
    a.decade.active
        background-color #F5F5F5
        font-weight 500
        color black
        box-shadow inset 0 3px 5px rgba(0,0,0,.125)
        border-color #adadad
blockquote
  border-left 5px solid #ececec
  padding-left 1rem
  margin 1rem 0rem


.small
  font-size .85rem
  font-family $atlas
  line-height 1.4
  margin-bottom 1.5rem

.title-nice
  margin-top 1.5rem
  margin-bottom 1.3rem
  font-size 1.8rem
  font-weight 100
  max-width 100%
  font-family $canela
  text-align center
  margin-bottom .5rem
.title-sub
  font-size .85rem
  font-family $atlas
  font-weight 400
  text-align center
  margin 0
.front-curve
  border-top-left-radius 5px
  border-bottom-left-radius 5px
.back-curve
  border-top-right-radius 5px
  border-bottom-right-radius 5px

#discog-examples
    list-style-type square
    a
        cursor pointer
.bottom-spacer
  margin-bottom 5rem

.artist-tooltip
  background white
  padding: 7px;
  -webkit-box-shadow 2px 2px 10px rgba(0, 0, 0, 0.10)
  -moz-box-shadow 4px 4px 10px rgba(0, 0, 0, 0.15)
  box-shadow 2px 2px 10px rgba(0, 0, 0, 0.10)
  pointer-events none
  text-align left
  -webkit-border-radius 3px
  -moz-border-radius 3px
  border-radius 3px
  div
    color black
    font-family $atlas
    font-size .7rem
    font-weight 500
    text-transform capitalize
    line-height 1.8

.d3-tip.n
  &::after
    content:""
.block-cite
  margin-top 1rem
