#topsongs
    background-color #fff
    margin-bottom 4rem
    margin-top 4rem
    font-family $atlas
    table
        border-collapse collapse
        width 100%
    td
        font-size .9rem
        padding-top 0
        padding-bottom 0
    a
        cursor pointer
    .expander-container
      display flex
      justify-content center
      margin-top 1rem
      a.expander
        font-weight 500
        color black
        font-size .8rem
        padding .3rem .5rem
        border 1px solid #adadad
        border-radius 3px
        &:hover
          background-color #eee


    th
        text-align left
        font-family $atlas
        font-size .8rem
        font-weight 900
        letter-spacing 0px
        line-height 1.5rem
    tr th:nth-child(1)
        width 2rem
    tr th:nth-child(3)
        width 45%
    tr
        border-bottom 1px solid $gray
    thead tr
        border-bottom 1px solid #000
    .bar
        padding-left 10px
        height 1.5rem
    .bar span
        color white
        font-size .7rem
        line-height 2
        font-weight 300
    .track .title
        font-weight bold
