#topsongs
    background-color rgb(230,240,255)
    margin-bottom 5rem
    .body
        margin 0 auto
    .row
        height 30px
        position relative
        margin 0 auto
        border-bottom 1px solid #777

        .cell
            position absolute
            font-size 12px

        .rank
            top 3px
            left 1px

        .songlabel
            left 18px
            top 2px

        .barcell
            height 100%
            float left
            left 360px
            width 350px
            .bar
                height 80%
                top 10%
                opacity 70%
                position absolute

        .pct
            float right
            right 10px
            font-size 16px
