<p class="prose prose-big">Are popular music lyrics getting more repetitive?</p>

<!-- <p class="prose">This meme that's been floating around the internet seems to suggest that that's the case.</p> -->

<p class="prose">In 1977, the great computer scientist Donald Knuth published a paper called <a href="https://en.wikipedia.org/wiki/The_Complexity_of_Songs">The Complexity of Songs</a>, which is basically one long joke about the repetitive lyrics of newfangled music (example quote: "the advent of modern drugs has led to demands for still less memory, and the ultimate improvement of Theorem 1 has consequently just been announced").
</p>

<p class="prose">I'm going to try to test this hypothesis with data. I'll be analyzing the repetitiveness of a dataset of 15,000 songs that charted on the Billboard Hot 100 between 1958 and 2017.
</p>

<h2>Measuring repetitiveness?</h2>

<p class="prose">I know a repetitive song when I hear one, but translating that intuition into a number isn't easy. One thing we might try is looking at the number of unique words in a song, as a fraction of the total number of words. But this metric would call the following lyric excerpts equally repetitive:</p>

<div class="prose-pull-quote">
  <div class="row flex-box">
      <div class="col-xs-5">
          <blockquote>
          <p>baby I don't need dollar bills to have fun tonight<br>
          I love cheap thrills<br>
          baby I don't need dollar bills to have fun tonight<br>
          I love cheap thrills<br>
          I don't need no money<br>
          as long as I can feel the beat<br>
          I don't need no money<br>
          as long as I keep dancing</p>
          <p><cite>~ Sia, Cheap Thrills</cite></p>
          </blockquote>
      </div>

      <div class="col-xs-5">
          <blockquote><p>tonight I need dollar bills<br>
          I don't keep fun<br>
          cheap thrills long to feel money<br>
          the bills don't need the dancing baby<br>
          fun dollar dancing thrills the baby I need<br>
          don't have fun<br>
          no no don't have dancing fun tonight<br>
          beat the can as I don't feel thrills<br>
          love the dancing money</p>
          <p><cite>~ Colin Morris, Original composition</cite></p>
          </blockquote>
      </div>
  </div>
</div>

<p class="prose">These are both 52 words long and use the same 23 word vocabulary, but the first one is clearly more repetitive, because it arranges words in a predictable, repetitive order.</p>


<h2>Repetitiveness ≈ compressibility?</h2>

<p class="prose">You may not have heard of the <a href="https://en.wikipedia.org/wiki/LZ77_and_LZ78">Lempel-Ziv algorithm</a>, but you probably use it every day. It's a lossless compression algorithm that powers gifs, pngs, and most archive formats (zip, gzip, rar...).
</p>

<p class="prose">What does this have to do with pop music? The Lempel-Ziv algorithm works by exploiting repeated sequences. How efficiently LZ can compress a text is directly correlated with the number and length of the repeated sections in that text.
</p>

<p class="prose">Here's how it works.
</p>

<div class="graphic graphic-fullwidth scrolly-columns" id="compression-mini">
    <div class="graphic-vis">
        <h2>Measuring Repetitive Lyrics With Compression</h2>
    </div>
    <div class="graphic-prose"></div>
</div>

<p class="prose">
You can explore some examples of the algorithm applied to full songs <a href="/TODO">here</a>. It turns out, for example, that the entire lyrics of <i>Cheap Thrills</i> reduce in size 76% when compressed.</p>

<p class="prose">
Is 76% a lot? Here's the distribution of size reduction percentages across (almost) all 15,000 songs in my dataset:
</p>

<div id="histogram" class="graphic">
</div>

<p class="prose small">
    You may have noticed the percentages on the x-axis are not evenly spaced. I'm using a logarithmic scale with the property that, for any given song, a song that compresses half as small is a fixed distance away. For example, the distance between 20% and 60% is the same as between 98% and 99%. I'll be using this kind of scale throughout.
</p>

<p class="prose">I excluded the 20 most repetitive songs in the dataset from the above chart. When you see what it looks like with them, you'll understand why:
</p>

<div id="histogram-full" class="graphic">
</div>

<p class="prose">What are these uber-repetitive outliers?
</p>

<div id="topsongs" class="graphic">
    <h2 class="title-nice">The Most Repetitive Songs</h2>
    <p class="title-sub">15,000 songs</p>
    <div class="decade-controls"></div>
    <table>
        <thead>
            <tr></tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="expander-container">
        <a class="btn expander"></a>
    </div>
</div>

<p class="prose"><i>Around The World</i> by Daft Punk gets reduced a whopping <b>98%</b>. It goes from 2,610 characters to 61. Small enough to fit in a tweet - twice! (<a href="http://www.azlyrics.com/lyrics/daftpunk/aroundtheworld.html">Here are the lyrics</a>, if you're not familiar with the song.)
</p>

<p class="prose">Intuitively, <i>Around The World</i> definitely <i>feels</i> like a very repetitive song. Several of the familiar entries on this list are essentially novelty songs (Macarena, Duck Sauce, The Thong Song, Cotton Eye Joe...) famed for their silly refrains. This inspires some confidence in the metric I'm using.
</p>

<p class="prose">So, is music getting more repetitive? The current decade is pretty well-represented in the top 10 above, but it's also a bit overrepresented in my dataset (it's easier to find lyrics for recent songs). We'll need to look at a lot more data to be sure...</p>

{{> story/overtime }}

<!--
<p class="prose"><b>Why would the top 10 be consistently more repetitive than the rest of the hot 100?</b>
The easiest explanation would be an appeal to natural selection. Maybe listeners generally like music more the more repetitive it is, so the most repetitive songs of the year chart the highest.
</p>

<p class="prose">The chart position of a song is clearly going to be affected by whether the artist and their label choose it as a single, and how heavily they promote it. Maybe they're more likely to choose the more repetitive songs on an album to promote?
</p>

<p class="prose">More importantly, <b>why is music getting more repetitive with time</b>? The simplest answer would be that the public's taste in music has just been shifting toward a greater appetite for repetition.
</p>

<p class="prose">Maybe taste has tended to favour more repetitive musical genres over time. There does seem to be a significant jump in repetition from the mid-70's to the early 80's that coincides with the rise of disco. This could also explain the slump from the mid-80's to the early 90's, coinciding with the <a href="https://en.wikipedia.org/wiki/Golden_age_hip_hop">Golden age of hip hop</a>.
</p>
<!-->

<h2>Who's responsible for this madness?</h2>

<p class="prose">Let's look at the average repetitiveness of some prolific artists in the dataset (those that have at least 15 charting songs as solo artists).
</p>

<div id="artist-circles" class="graphic">
    <h2>Repetitiveness Per Artist</h2>
    <div class="decade-controls"></div>
</div>

<p class="prose">Genre does seem like a differentiating factor here. In the 00's, our artists actually separate pretty cleanly into two clusters, with country music and hip-hop (and whatever John Mayer does) on the left, and pop and rock on the right.
</p>

<p class="prose">The variation between artists is considerable. The Backstreet Boys have an average compression ratio of 60%, to Brad Paisley's 38%. In other words, if we asked the Backstreet Boys and Brad Paisley to each write a 400 word song, and compressed them both, we'd expect Brad's compressed song to be 50% bigger than BSB's.
</p>

<p class="prose">Let's zoom in on a specific artist, say Gwen Stefani. Each circle below represents a song in her discography. The background blob is the histogram all songs in the dataset (the same one as before, but mirrored).
</p>

<div id="discog-widget" class="graphic">
</div>

<p class="prose">
On average, Gwen's music is extremely repetitive, but there's a wide spread between the incessantly repetitive "Hollaback Girl", and the laid-back ballad "Cool", which is far less repetitive than the median song in the dataset.
</p>

<p class="prose">
You can search for your favourite artist in the dropdown above. A few interesting examples:
</p>

<ul class="prose" id="discog-examples">
    <li>People have described <i>1989</i> as the album where <a>Taylor Swift</a> fully transitioned from country singer/songwriter to popstar. This data adds some flavour to that claim. 4 of her 5 most repetitive songs are from <i>1989</i>.</li>
    <li><a>Madonna</a> has a long, consistent legacy of highly repetitive music. Interestingly, her two least repetitive songs are arguably the only two that don't belong to the pop genre: they're both from the musical <i>Evita</i>, and written by Tim Rice and Andrew Lloyd Weber.</li>
    <li>Rappers like <a>Eminem</a> tend to be consistently non-repetitive.</li>
    <li>Is it any wonder <a>Rihanna</a> won the title of most repetitive artist in the dataset? Over half a dozen of her songs sit on the <i>far</i> right of the distribution (including, appropriately, <i>Pon de Replay</i>).</li>
    
</ul>
