<h1>La la la</h1>

<h2>Per-artist repetitiveness</h2>
<p>Artists on the right are more repetitive. Use the radio buttons below to choose different decades. Artists are assigned a year based on the median of their charting songs.</p>
<p>Currently limited to artists with at least 20 charting songs. Probably want to tune that number (or take a fixed # per decade).</p>
<br/>
<!-- <svg id="forcedemo" width="960" height="200"></svg> -->
<div id="artist-circles"></div>

<h2>Repetition over time</h2>
<p>
</p>

<div class="graphic" id="overtime-graphic">
    <div id="rovertime" class="graphic-vis"></div>
    <div class="graphic-prose">
        <div class="stage0"></div>
        <div class="spacer"></div>
        <div class="scrolly-slide stage1">
            <p>In 1960, the average repetition-score of the hot-100 is 0.95. The most repetitive song of the year is Dee Clark's <i>At My Front Door</i>. Sample:</p>
            <blockquote>
                Knock, knock, knock, knock<br/>
                Knock, knock, knock, knock<br/><br/>

                Crazy little mama come knocking<br/>
                Knocking at my front door<br/>
                Crazy little mama come knocking<br/>
                Knocking at my front door
            </blockquote>
        </div>
        <div class="spacer"></div>
        <div class="scrolly-slide stage2">
            <p>By 1980, disco has reached the peak of its popularity. The year's most repetitive song is <i>Funkytown</i>, which spends 4 weeks at #1.</p>
        </div>
        <div class="spacer"></div>
        <div class="scrolly-slide stage3">
            <p>2014 is the most repetitive year on record. An average song from this year compresses 22% more efficiently than one from 1960.</p>
            <p><small>* Each point actually represents a 3-year rolling average. 2015 is the last year having a full year of data on either side of it.</small></p>
            <p><small>** "Repetition score" is basically the logarithm of the ratio between raw size and compressed size, so the 22% figure comes from taking <code>e^(1.15-0.95)</code>, where 1.15 and 0.95 are the repetition scores of 2014 and 1960, respectively.</small></p>
        </div>
        <div class="spacer"></div>
        <div class="stage4">(hidden last waypoint)</div>
    </div>
</div>
<div class="spacer"></div><div class="spacer"></div><div class="spacer"></div>
