<p class="prose prose-big">Lempel-ziv, illustrated</p>

<p class="prose">Check out what the algorithm does with the full lyrics of <i>Cheap Thrills</i> below (or select a different a song).</i>...
</p>

<h2 class="prose prose-big">How 14 Pop Songs Compress, Based on Repetitive Lyrics</h2>
<div id="compression">
</div>
