<h1>La la la</h1>

<h2>Per-artist repetitiveness</h2>
<p>Artists on the right are more repetitive. Use the radio buttons below to choose different decades. Artists are assigned a year based on the median of their charting songs.</p>
<p>Currently limited to artists with at least 20 charting songs. Probably want to tune that number (or take a fixed # per decade).</p>
<br/>
<!-- <svg id="forcedemo" width="960" height="200"></svg> -->
<div id="artist-circles"></div>

<h2>Repetition over time</h2>
<p>
</p>

<div class="graphic" id="overtime-graphic">
    <div id="rovertime" class="graphic-vis"></div>
    <div class="graphic-prose">
        <div class="scrolly-slide stage0" id="sslide0">Here is the first text.</div>
        <div class="spacer"></div>
        <div class="scrolly-slide stage1" id="sslide1">And some more text.</div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="scrolly-slide stage2" id="sslide2">This is the final text.</div>
    </div>
</div>
