<div class="container">
<h1>La la la - title TK</h1>

<img id="girls" src="assets/img/girls_rhapsody.jpg" />

<p>Is popular music getting more repetitive?</p>

<p>This meme that's been floating around the internet seems to suggest that that's the case.</p>

<p>It's not a new idea. In 1977, the great computer scientist Donald Knuth published a paper called <a href="https://en.wikipedia.org/wiki/The_Complexity_of_Songs">The Complexity of Songs</a>, which is basically one long joke about the repetitive lyrics of newfangled music (example quote: "the advent of modern drugs has led to demands for still less memory, and the ultimate improvement of Theorem 1 has consequently just been announced").
</p>

<p>I'm going to try to test this hypothesis with data. I'll be analyzing the repetitiveness of a dataset of 15,000 songs that charted on the Billboard Hot 100 between 1958 and 2017.
</p>

<h2>Measuring repetitiveness?</h2>

<p>
I know a repetitive song when I hear one, but translating that intuition into a number isn't easy.
One thing we might try is looking at the number of unique words in a song, as a fraction of the total number of words. But this metric would call the following lyric excerpts equally repetitive:</p>

<div class="row">
    <div class="col-xs-5">
        <blockquote><p>Baby I don't need dollar bills to have fun tonight<br>
        I love cheap thrills<br>
        Baby I don't need dollar bills to have fun tonight<br>
        I love cheap thrills<br>
        I don't need no money<br>
        As long as I can feel the beat<br>
        I don't need no money<br>
        As long as I keep dancing</p>
        <p><cite>~ Sia, Cheap Thrills</cite></p>
        </blockquote>
    </div>
    
    <div class="col-xs-5">
        <blockquote><p>tonight I need dollar bills<br>
        I don't keep fun<br>
        cheap thrills long to feel money<br>
        the bills don't need the dancing baby<br>
        fun dollar dancing thrills the baby I need<br>
        don't have fun<br>
        no no don't have dancing fun tonight<br>
        beat the can as I don't feel thrills<br>
        love the dancing money</p>
        <p><cite>~ Colin Morris, Original composition</cite></p>
        </blockquote>
    </div>
</div>
<p>These are both 52 words long and use the same 23 word vocabulary, but the first one is clearly more repetitive, because it arranges words in a predictable, repetitive order.</p>



<h2>Repetitiveness ≈ compressibility?</h2>

<p>
You may not have heard of the <a href="https://en.wikipedia.org/wiki/LZ77_and_LZ78">Lempel-Ziv algorithm</a>, but you probably use it every day. It's a lossless compression algorithm that powers gifs, pngs, and most archive formats (zip, gzip, rar...).
</p>

<p>
What does this have to do with pop music? The Lempel-Ziv algorithm works by exploiting repeated sequences. How efficiently LZ can compress a text is directly correlated with the number and length of the repeated sections in that text.
</p>

<p>In short, the LZ algorithm scans the input from start to end looking for sections that match an earlier part of the text. If it finds one then, in the output, it replaces that repeated text with a signpost that says "go back X letters, and copy Y characters".
</p>

<p>It's probably easier to understand when seen in action. Let's see what the LZ algorithm does to Lady Gaga's <i>Bad Romance</i>...
</p>

</div><div class="container-fluid">
<div id="compression">
</div>
</div><div class="container">

<p>
After applying the LZ algorithm, <i>Bad Romance</i> went from 2,918 characters (or bytes) to 717, a 75% reduction in size. 
In my dataset of 15,000 songs, the average song is reduced by 50% after compression. For comparison, an average newswire article is X% compressible.
</p>

<p>Using this size reduction metric, what are <b>the most repetitive songs of all time</b>?
</p>

<div id="topsongs"></div>

<p><small>
(You may notice that the difference between 98% and 95% is wider than between 88% and 85%. Intuitively, a single % gets more important the closer we are to 100% or 0%. Going from a 98% size reduction to a 99% size reduction would mean the compressed text becomes half as small. For this reason, I'm using logarithmic scales for % reduction throughout.)
</small></p>

<p>
<i>Around The World</i> by Daft Punk gets reduced a whopping <b>98%</b>. It goes from 2,610 characters to 61. Small enough to fit in a tweet - twice! (<a href="http://www.azlyrics.com/lyrics/daftpunk/aroundtheworld.html">Here are the lyrics</a>, if you're not familiar with the song.)
</p>

<p>Intuitively, <i>Around The World</i> definitely <i>feels</i> like a very repetitive song. In fact, many of the familiar songs on this list are comically repetitive (Macarena, Duck Sauce, The Thong Song, Cotton Eye Joe...). This inspires some confidence in the metric I'm using.
</p>

<p>So, is music getting more repetitive? The current decade is pretty well-represented in the top 10 above, but it's also a bit overrepresented in my dataset (it's easier to find lyrics for recent songs). We'll need to look at a lot more data to be sure...</p>

{{> story/overtime }}

<p>Who's responsible for this madness? Let's look at the average repetitiveness of some prolific artists (those that have at least 15 charting songs in the hot 100).</p>

<br/>


<div id="artist-circles"></div>

<p>Genre seems like a significant factor. In the 00's, our artists actually separate pretty cleanly into two clusters, with country music and hip-hop (and whatever John Mayer does) on the left, and pop and rock on the right.
</p>

<p>The variation between artists is considerable. The Backstreet Boys have an average compression ratio of 60%, to Brad Paisley's 38%. In other words, if we asked the Backstreet Boys and Brad Paisley to each write a 400 word song, and compressed them both, we'd expect Brad's compressed song to be 50% bigger than BSB's.
</p>

<p>Let's zoom in on a specific artist, say Gwen Stefani. Each circle below represents a song in her discography. The pink blob is a histogram of the repetitiveness of all the songs in the dataset, for reference.
</p>

<p>Gwen's music is highly repetitive (her average score beats Britney, Beyonce, and Lady Gaga), but there's quite a spread. Four hugely repetitive songs contrast with the hugely non-repetitive ballad "Cool". The only repeated hook in the latter is the line "I know we're cool", repeated 9 times. "Hollaback Girl", on the other hand, has a 26-word refrain ("Few times I've been around that track... ain't no hollaback girl") that repeats 8 times, along with 33 repetitions of "this my shit", and a memorably repetitive speak-and-spell bridge. Gwen has range!</p>

<div id="discog-widget"></div>

<div class="spacer"></div>

</div>
