<div class="graphic graphic-fullwidth scrolly-columns" id="overtime-graphic">
    <div id="rovertime" class="graphic-vis">
    </div>
    <div class="graphic-prose">
        <div class="stage0"></div>
        <div class="spacer"></div>
        <div class="scrolly-slide stage1">
            <p>In 1960, the average song is 45.7% compressible. The most repetitive song of the year is Dee Clark's <i>At My Front Door</i> (78% compressible). Sample:</p>
            <blockquote>
                Knock, knock, knock, knock<br/>
                Knock, knock, knock, knock<br/><br/>

                Crazy little mama come knocking<br/>
                Knocking at my front door<br/>
                Crazy little mama come knocking<br/>
                Knocking at my front door
            </blockquote>
        </div>
        <div class="spacer"></div>
        <div class="scrolly-slide stage2">
            <p>By 1980, disco has reached the peak of its popularity. The year's most repetitive song is <i>Funkytown</i> (85% compressible), which spends 4 weeks at #1.</p>
        </div>
        <div class="spacer"></div>
        <div class="scrolly-slide stage3">
            <p>2014 is the most repetitive year on record. An average song from this year compresses 22% more efficiently than one from 1960.</p>
            <p><small>* Each point actually represents a 3-year rolling average. 2015 is the last year having a full year of data on either side of it.</small></p>
            <p><small>** 22% is the relative difference. i.e. if we took random songs from 2014 and 1960 having the same length, we'd expect the compressed 2014 song to be 22% smaller than the compressed 1960 songs.</small></p>
        </div>
        <div class="scrolly-slide stage4 hidden"></div>
        <div class="spacer"></div>
        <div class="scrolly-slide stage5 hits">
            <p>The songs that reached the top 10 were, on average, more repetitive than the rest in <i>every year</i> from 1960 to 2015!</p>
        </div>
        <div class="spacer"></div>
    </div>
</div>
